{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
    .object-tools li.permissions-notice,
    .object-tools li.draft-copy-notice {
        background: #A31D1D;
        color: #fff;
        padding: 5px 5px 3px 5px;
        line-height: 15px;
        margin-top: -6px;
        margin-right: 20px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .object-tools li.draft-copy-notice {
        background: #D5DB1A;
    }
</style>
{% endblock %}

{% block extrahead %}{{ block.super }}{% if no_publish_perm %}
<script type="text/javascript">
{% if original %}
(function($) {
    $(document).ready(function(){
        {% if original.is_published %}
        $("#id_status").attr('disabled', 'disabled')
        $(".submit-row").remove()
        {% else %}
        var perm_options = $("#id_status option")
        $(perm_options[perm_options.length - 1]).remove()
        {% endif %}
    });
}(django.jQuery));
{% else %}
(function($) {
    $(document).ready(function(){
        var perm_options = $("#id_status option")
        $(perm_options[perm_options.length - 1]).remove()
    });
}(django.jQuery));
{% endif %}
</script>
{% endif %}{% endblock %}

{% block object-tools %}
    {% if change %}{% if not is_popup %}
    <ul class="object-tools">
        {% if no_publish_perm  and original.is_published %}<li class="permissions-notice">Your user permissions do not allow you to change this item.</li>{% endif %}
        {% if draft_copy_allowed and original.copy_of%}<li class="draft-copy-notice">DRAFT COPY</li>{% endif %}
        <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
        {% if original.copy_of%}
        <li><a href="merge/" title="{%trans "Merge this copy over top of the original."%}">{% trans "Merge copy" %}</a></li>
        <li><a href="../{{original.copy_of.pk}}/" title="{%trans "Edit the original."%}">{% trans "Edit original" %}</a></li>
        {% else %}
            {% if original.is_published and draft_copy_allowed %}
                {% with original.get_draft_copies as draft_copies %}{% for draft_copy in draft_copies %}
                <li><a href="../{{draft_copy.id}}/" title="{%trans "Edit draft copy."%}">{% trans "Edit draft copy" %}</a></li>
                {% empty %}
                <li><a href="copy/" title="{%trans "Create and unpublished copy of this item."%}">{% trans "Create draft copy" %}</a></li>
                {% endfor %}{% endwith %}
            {% endif %}
        {% endif %}
        {% if has_absolute_url and original.get_absolute_url %}
            {%if original.is_published%}
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>
            {%else%}
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "Preview on site" %}</a></li>
            {%endif%}
        {% endif%}
    </ul>
    {% endif %}{% endif %}
{% endblock %}
